# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT='Trade-Agentic'
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

# App
PROMPT_PATH=./app/prompts/analyze.yaml
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct


